@using DemoASPMVC.Tools;
@inject SessionManager session;
@model DemoASPMVC.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre_Id)
        </dd>
    </dl>
</div>
<div>
    @if (session.ConnectedUser is not null)
    {
        <span>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |    
        </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
